@import url("./colors.css");

* {
    border: none;
    border-radius: 0px;
    font-family: Inter, JetBrainsMonoNL Nerd Font Propo;
    font-size: 16px;
    font-weight: 500;
    font-feature-settings: "tnum";
    min-height: 0;
}

window#waybar {
    background-color: @mantle;
    color: #ffffff;
    padding: 0 14px;
}

window#waybar.hidden {
    opacity: 0.2;
}

tooltip {
    background-color: @base;
    border: 1px solid @surface1;
}

tooltip label {
    color: @text;
}

button {
    border: none;
    border-radius: 0px;
    box-shadow: inset 0 -2px transparent;
}

button:hover {
    background: inherit;
    box-shadow: none;
}

#workspaces button {
    min-width: 20px;
    padding: 0 8px;
    margin: 0 2px;
    background-color: rgba(137, 180, 250, 0.16);
    color: @subtext1;
}

#workspaces button:hover {
    background-color: rgba(137, 180, 250, 0.28);
    color: #ffffff;
    box-shadow: none;
}

#workspaces button.active {
    background-color: rgba(180, 190, 254, 0.32);
    color: #ffffff;
    box-shadow: inset 0 -2px @lavender;
}

#workspaces button.urgent {
    color: @red;
    animation: blink 1s ease-in-out infinite;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#network,
#tray {
    padding: 0 8px;
    margin: 0 2px;
    color: #ffffff;
    background-color: rgba(137, 180, 250, 0.16);
}

#window {
    margin: 0 5px;
    color: @subtext0;
}

#workspaces {
    margin: 0 5px;
}

@keyframes blink {
    to {
        color: #ffffff;
    }
}

#pulseaudio.muted {
    color: @red;
}

#network.disconnected {
    color: @red;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: @red;
}